<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoRewards</title>
    <link rel="stylesheet" href="/static/reward/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <a href="{% url 'reward_home' %}" class="logo"><img src="/media/reward/star/star5.png" width="80" height="80" alt=""></a>
          <ul>
            <li><a href="{% url 'rating' %}">ECO</a></li>
            <li><a href="#">Reward Redemption</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'profile' %}">My Account</a></li>
            {% else %}
            <li><a href="{% url 'login-signup' %}">Login/Register</a></li>
            {% endif %}
          </ul>
    </header>

    <section class="about" >
        <div class="about-title">
          <h1>IT'S TIME TO CHANGE THE WAY WE SHOP</h1>
        </div>
        <div class="about-info">
          <p>When you shop with Eco Rewards, you contribute to a better future for us all. Discover a better way to shop, and join the movement below!</p>
        </div>

        <div class="about-button">
          <button id="learn_more">Learn more</button>
        </div>

        <div class="modal-container" id="modal_container">
          <div class="modal">
            <h2>What is Eco Rewards</h2>
            <p>Eco Rewards focus on individual awareness of climate change. The system aims at helping people
              to make more environmentally-friendly purchases.
              <br>A visual sign of green stars rating is designed for incentivizing customers to make green alternatives
              to obtain rewards for their choices. The higher the rating of stars represents the higher level of environmentally-friendly
              products. Even if the customer does not care about climate change on purpose, he would choose the
              Eco-friendly products motivated by gaining rewards.The reward system potentially promotes users to change their customer behaviour.
            </p>
            <button id="close_modal"><i class="fa fa-close"></i></button>
          </div>
        </div>
    </section>

    <script>
      const learn_more = document.getElementById('learn_more');
      const modal_container = document.getElementById('modal_container');
      const close_modal = document.getElementById('close_modal');

      learn_more.addEventListener('click', () => {
        modal_container.classList.add('show');
      });

      close_modal.addEventListener('click', () => {
        modal_container.classList.remove('show');
      });

    </script>

</body>