<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoRewards</title>
    <link rel="stylesheet" href="/static/reward/user-eco.css">
</head>

<body>
    <header>
        <a href="{% url 'reward_home' %}" class="logo"><img src="/media/reward/star/star5.png" width="80" height="80"></a>
        <ul>
            <li><a href="{% url 'rating' %}">My Green Point</a></li>
            <li><a href="#">Reward Redemption</a></li>
            <li><a href="{% url 'profile' %}">My Account</a></li>
        </ul>
    </header>

    <section class="rating-section">
        <div class="section-content">
            <h1 class="section-title">AVERAGE RATING</h1>
            <div class="rating-star"><img src="/media/reward/star/star3.png" width="180" height="180"></div>
            <h2>GREEN POINTS</h2>
            <h1 class="rating">{{points}}</h1>
        </div>
    </section>

    <section class="last-purchase-section">
        <div class="section-content">
            <h1 class="section-title">LAST PURCHASE</h1>
            <div class="rating-star"><img src="/media/reward/star/star4.png" width="140" height="140"></div>
            <h1 class="rating">40 Points</h1>
        </div>
    </section>


</body>

</html>