<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoRewards</title>
    <link rel="stylesheet" href="/static/page_reset.css">
    <link rel="stylesheet" href="/static/reward/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <a href="{% url 'reward_home' %}" class="logo"><img src="/media/reward/star/star5.png" width="80" height="80"></a>
    </header>

    <div class="container">
        <div class="left-container">
            <a href="#" class="user-image"><img src="/media/reward/icon/user.png" width="150" height="150"></a>
            <div class="user-name">{{ user.username }}</div>
            <nav class="profile-tabs">
                <a class="tab active" onclick="tabs(0)">Personal Information</a>
                <a class="tab" onclick="tabs(1)">Shopping History</a>
                <a class="tab" onclick="tabs(2)">Account Security</a>
                <a href="{% url 'logout' %}" class="btn-logout">Logout</a>
            </nav>
        </div>

        <div class="right-container">
            <div class="profile tabShow">

                <form method="POST" action="{% url 'profile' %}" class="update-form" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="input-field">

                        {% if field.name == 'username' %}
                            <i class="fa fa-user"></i>
                        {% elif field.name == 'phone_number' %}
                            <i class="fa fa-phone"></i>
                        {% elif field.name == 'email' %}
                            <i class="fa fa-envelope"></i>
                        {% endif %}

                        {{field}}
                    </div>

                    {% endfor %}
                    <input type="submit" class="btn" value="Update" name='submit'/>
                </form>
            </div>
            <div class="history tabShow">
                <div class="history-items">

                    <!-- {% for order in orders %}
                    <div class="history-item">
                        <div class="history-dot"></div>
                        <div class="history-date">{{order.created_date}}</div>
                        <div class="history-content">
                            <img src="/media/reward/star/star3.png" width="60" height="60">
                            <span>{{order.points}} Points</span>
                        </div>
                    </div>
                    {% endfor %} -->

                </div>
            </div>

            <div class="Security tabShow">
                <form method="POST" action="{% url 'profile' %}" class="update-form" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    {% for field in reset_form %}
                    <div class="input-field">
                        <i class="fa fa-lock"></i>
                        {{field}}
                    </div>
                    {% endfor %}

                    <input type="submit" class="btn" value="Reset Password" name='submit'/>
                </form>
            </div>
        </div>
    </div>

    <script src="/static/js/profile-tab.js"></script>

    <script>
        const tabBtn = document.querySelectorAll(".tab");
        const tab = document.querySelectorAll(".tabShow");
        function tabs(panelIndex) {
            tab.forEach(function(node) {
                node.style.display = "none";
            });
            tab[panelIndex].style.display = "block";
        }
        tabs(0);
    </script>
    <script>
        $(".tab").click(function() {
            $(this).addClass("active").siblings().removeClass("active");
        })
    </script>

</body>
</html>