<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoRewards</title>
    <link rel="stylesheet" href="/static/reward/user-eco.css">
</head>

<body>
    <header>
        <a href="{% url 'reward_home' %}" class="logo"><img src="/media/reward/star/star5.png" width="80" height="80"></a>
        <ul>
            <li><a href="{% url 'rating' %}">My Green Point</a></li>
            <li><a href="{% url 'store:all_products' %}">Reward Redemption</a></li>
            <li><a href="{% url 'profile' %}">My Account</a></li>
        </ul>
    </header>
    <main>
    <section class="rating-section">
        <div class="section-content">
            <h1 class="section-title">AVERAGE RATING</h1>
            <div class="rating-star">

                {% if avg_points >= 0 and avg_points <= 100 %}
                <img src="/media/reward/star/star1.png" width="180" height="180">
                {% elif avg_points > 100 and avg_points <= 200 %}
                <img src="/media/reward/star/star2.png" width="180" height="180">
                {% elif avg_points > 200 and avg_points <= 300 %}
                <img src="/media/reward/star/star3.png" width="180" height="180">
                {% elif avg_points > 300 and avg_points <= 400 %}
                <img src="/media/reward/star/star4.png" width="180" height="180">
                {% else %}
                <img src="/media/reward/star/star5.png" width="180" height="180">
                {% endif %}

            </div>
            <h2>GREEN POINTS</h2>
            <h1 class="rating">{{points}}</h1>
        </div>
    </section>

    <section class="last-purchase-section">
        <div class="section-content">
            <h1 class="section-title">LAST PURCHASE</h1>
            <div class="rating-star">
                {% if last_order_point >= 0 and last_order_point <= 100 %}
                <img src="/media/reward/star/star1.png" width="140" height="140">
                {% elif last_order_point > 100 and last_order_point <= 200 %}
                <img src="/media/reward/star/star2.png" width="140" height="140">
                {% elif last_order_point > 200 and last_order_point <= 300 %}
                <img src="/media/reward/star/star3.png" width="140" height="140">
                {% elif last_order_point > 300 and last_order_point <= 400 %}
                <img src="/media/reward/star/star4.png" width="140" height="140">
                {% else %}
                <img src="/media/reward/star/star5.png" width="140" height="140">
                {% endif %}
            </div>
            <h1 class="rating">{{last_order_point}} Points</h1>
        </div>
    </section>
</main>

</body>

</html>