
eco/eco/__pycache__/urls.cpython-39.pyc
eco/pages/__pycache__/views.cpython-39.pyc
eco/products/__pycache__/views.cpython-39.pyc
*.pyc
eco/.idea/eco.iml
eco/.idea/jsLibraryMappings.xml
eco/.idea/eco.iml
eco/.idea/misc.xml
