{% extends 'base.html' %}
{% block content %}
    <h1>Welcome! {{ object.username }} </h1>
    <h3>Your Phone: {{ object.phone_number }}</h3>
    <h3>Green Points: {{ object.green_point }} </h3>
    <br><br>
    <p>
        Last Login Time: {{ object.last_login }}
    </p>
    <br>
    <form method="POST" action="{% url 'profile' %}"> {% csrf_token %}
        <input id="user" type="hidden" name="user_id" value="{{ object.phone_number }}">
        <button name="submit" value="add_points">+Green</button>
    </form>
{% endblock %}