{% extends "store_base.html" %}
{% block title %}Order placed{% endblock %}
{% block content %}

    <style>

        .accounts-form input {
            border: 2px solid #ccc;
            height: calc(2em + .75rem + 2px);
        }

        .accounts-form input:focus {
            border-color: #1497ff;
            box-shadow: none;
        }
    </style>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-12">
                <div class="login d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-6  mx-auto">
                                <div class="recipe">
                                    <h3 class="mb-4">Order has been placed</h3>

                                    {% if basket %}
                                        {% for item in basket %}
                                            {% with product=item.product %}

                                                <div data-index="{{ product.id }}" class="basket-product"
                                                     id="product-item">
                                                    <div class="item">
                                                        <div class="product-details" data-index="{{ product.id }}">
                                                            <h1><strong> {{ product.title }}</strong></h1>
                                                            <p><strong>Category: {{ product.category }}</strong></p>
                                                        </div>
                                                    </div>
                                                    <div class="price">Green point costs: {{ product.greenpoint }}</div>
                                                    <div class="quantity">
                                                        <p>{{ item.qty }}</p>
                                                    </div>
                                                </div>
                                            {% endwith %}
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}