* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: none;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    padding-left: 5rem;
    z-index: 10;
}

header ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-left: 5rem;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 30px;
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.about {
    position: relative;
    padding: 0px 75px;
    width: 100vw;
    height: 100vh;
    background: url(/media/reward/background/BG2.png);
    background-size: cover;
}

.about-title {
    width: 40%;
}

section h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.8em;
    margin: 0;
    padding-top: 160px;
    padding-left: 30px;
    color: #619174;
    word-wrap: normal;
    text-align:left;
    letter-spacing: 2px;
}

.about-info {
    width: 45%;
}

section p {
    font-size: 1.2em;
    margin: 0;
    padding-top: 20px;
    padding-left: 30px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: normal;
    text-align:left;
    line-height: 1.4em;
}

.about-button {
    padding: 20px 30px;
    width: fit-content;
}

.about-button button {
    font-size: 1.2em;
    text-decoration: underline;
    border: none;
    background: none;
    color: black;
    cursor: pointer;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 10;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #fff;
    padding: 40px 40px;
    width: 700px;
    max-width: 100%;
    border-radius: 20px;
    border: #619174 solid 2px;
}

.modal h2, #close_modal {
    display: inline;
}

.modal h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #619174;
    padding-left: 1.4rem;
}

#close_modal {
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    position: relative;
    font-size: 22px;
    display: inline;
    padding-left: 15rem;
}

/*=======================
   Login-Signup Form
========================*/

.form-container {
    position: absolute;
    right: 8rem;
    top: 18%;
    background-color: #fff;
    border: #619174 solid 1.5px;
    width: 35%;
    height: 78%;
    display: flex;
}

.login-form{
    position: absolute;
    top: 21%;
    left: 20%;
    display: flex;
}

.register-form {
    position: absolute;
    top: 9%;
    left: 20%;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: fit-content;

}

.form-title {
    color: #619174;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 3px;
}

.input-field {
    max-width: 20rem;
    width: 100%;
   
    height: 52px;
    background-color: #f1f1f1;
    margin: 11px 0;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    top: 1.5rem;
}


.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-size: 1.1rem;
    color: #333;
}

.submit-btn {
    width: 200px;
    height:45px;
    border: none;
    border-radius: 40px;
    background-color: #619174;
    color: white;
    margin: 2.8rem 0 0.5rem 0;
    cursor: pointer;
}

.form-container a{
    color: #619174;
    word-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-container p{
    display: flex;
    position: relative;
    width: 20rem;
}

/*=======================
   Message
========================*/

.alert {
    z-index: 12;
    position: absolute;
    right: 7.6rem;
    top: 50px;
    display: inline-flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1rem;
    margin-right: 1rem;

    /* max-width: 35rem; */
    padding: 1.2rem 2.5rem;

    border: 1px solid #f3f3f3;
    border-radius: 5px;

    /* text-align: center; */
}

.alert,
.alert > .alert__message {
  background-color: #f3f3f3;
  color: #619174;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.alert.alert--error,
.alert.alert--error > .alert__message {
  background-color: #fff2ee;
  color: #fc4b0b;
}

.alert.alert--success,
.alert.alert--success > .alert__message {
  background-color: #def8e8;
  color: #359e64;
}

.alert > .alert__close {
    background: transparent;
    cursor: pointer;
    border: none;
    outline: transparent;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
}