header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    z-index: 8;
}

.container {
    position: relative;
    width: 100%;
    background-color: white;
    min-height: 100vh;
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    left: 55%;
    background-image: url('/media/reward/background/BG3.png');
    background-size: 100% 100%;
    z-index: 6;
    transition: 1.2s ease-in-out;
}

.form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
}

.title {
    color: #619174;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: #f1f1f1;
    padding: 0 0.4rem;
    position: relative;
}

label {
    opacity: 0;
}

/*label{*/
/*    position: absolute;*/
/*    pointer-events: none;*/
/*    left: 10px;*/
/*    top: 2px;*/
/*    transition: 0.2s ease all;*/
/*    font-size: 25px;*/
/*}*/

/*input:focus ~ label{*/
/*  opacity: 0;*/
/*}*/

#id_username, #id_phone_number, #id_password1, #id_password2, #id_password {
    position: relative;
    left:0;
    right:auto;
    height:50px;
    font-size:24px;
}

.input-field input {
    background: none;
    border: none;
    outline: none;
    width: 380px;
}

.btn {
    width: 200px;
    height:45px;
    border: none;
    border-radius: 40px;
    background-color: #619174;
    color: white;
    margin: 10px 0;
    cursor: pointer;
}

.login-signup {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

form.sign-in-form {
    z-index: 2;
}

form.sign-up-form {
    z-index: 1;
    opacity: 0;
}

.panels-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.left-panel {
    pointer-events: none;
    padding: 3rem 17% 2rem 12%;
}
   
.right-panel {
    pointer-events: all;
    padding: 3rem 12% 2rem 17%;
}

.panel .content {
    color: #f4f8f7;
    transition: 0.9s .6s ease-in-out;
}

.panel h2 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.panel p {
    padding: 0.6rem 0;
    font-family: Arial, Helvetica, sans-serif;
}

.btn.transparent {
    margin: 0;
    background:none;
    border: 2px solid #fff;
    width: 200px;
    height: 45px;
}

.left-panel .content {
    transform: translateX(-800px);
}

.container.sign-up-mode::before {
    transform: translateX(-102%);
    left: 50%;
}

.container.sign-up-mode .right-panel .content {
    transform: translateX(800px);
}

.container.sign-up-mode .left-panel .content {
    transform: translate(0%);
}

.container.sign-up-mode .right-panel {
    pointer-events: none;
}

.container.sign-up-mode .left-panel {
    pointer-events: all;
}

.container.sign-up-mode .login-signup {
    left: 75%;
}

.container.sign-up-mode form.sign-in-form {
    z-index: 1;
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
    z-index: 2;
    opacity: 1;
}
