@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

html,
html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#dropdown {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 18pt;
}

.button {
    float: initial;
}

.header {
    background-color: #477270;
    height: 90px;
    margin-right: 0;
    padding: 10px 0;

}

.left-icon {
    display: inline;
    padding-left: 20px;
}

.left-icon h1 {
    color: white;
}

.star {
    width: 60px;
    height: 60px;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline;


}

.navbar-link {
    text-align: center;
    display: inline;

}

.left-icon {

}

.navbar-link a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 10px 20px 0;
    font-weight: 500;
    font-size: 20pt;
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
}

.navbar-link a:hover {
    box-shadow: hsl(177, 100%, 82%) -2px -5px 50px 5px inset;
    box-sizing: content-box;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: #FFF;
}

.header li.current a {
    background: white;
    color: black;
    text-shadow: none;
}

div {
    flex-grow: 1;
}

.add-to-cart-btn {
    font-weight: 500;
    border: 2px solid #477270;
    border-radius: 25px;
}

.add-to-cart-btn:hover {
    border: 2px solid #477270;
}

.add-to-cart-btn > i {
    font-style: normal;
    font-weight: 500;
}

.product-detail-img {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #fff;
}

.search-item > li > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 50px;
    border: 2px solid #477270
}

.search-item > li > a:hover {
    background-color: #477270;
}

.next-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 5px solid rgb(71, 114, 112);
    border-bottom: 2px solid rgb(71, 114, 112);
    margin-top: 0;
    margin-bottom: 10px;
    flex-shrink: 0;
    flex-grow: 1;
}

.next-navbar-link {
    float: left;
    padding-left: 10px;

}

.next-nav-items {
    font-size: 21px;
    font-weight: 500;
}

.search-item li {
    float: right;
    margin-right: 20px;
    padding-left: 30px;
}

form {
    width: 454px;
    height: 42px;
    display: inline;


    border: none;
    border-radius: 5px;
}

.next input {
    width: 342px;
    height: 42px;
    background-color: #eeeeee;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    font-style: italic;
    display: inline;
}

.next button {
    display: inline-block;
    width: 112px;
    height: 42px;
    background-color: rgb(71, 114, 112);
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
}

.next img {
    width: 30px;
    height: 30px;
    display: inline;
}

body {
    background-image: url("/media/BG1.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    margin: 0 auto;
}

.product-list {
    padding: 0;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


a {
    font-size: 18pt;
    border: 0 none;
    outline: 0;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

p {
    margin: 0.75rem 0 0;
}

h1 {
    font-size: 0.9rem;
    padding: 0;
    color: #111;
    font-style: oblique;
    font-weight: 700;
    display: inline;
}

.product-details h1 {
    font-size: 1rem;
    color: black;
    display: block;
}

input,
button {
    border: 0 none;
    outline: 0 none;
}

.btn-outline-dark {
    font-weight: 500;
    border-color: #477270;
}

.btn-outline-dark:hover {
    background-color: #477270;
    color: #fff;
}

button {
    background-color: rgb(71, 114, 112);
    color: #fff;
}

button:hover,
button:focus {
    background-color: #555;
}


.basket-module,
.basket-labels,
.basket-product {
    width: 100%;
}

input,
.basket,
.basket-module,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details,
.photo-des {
    float: left;
}


.hide {
    display: none;
}

main {
    clear: both;
    font-size: 0.75rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 0;
    width: 1400px;
}

.basket,
aside {
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket {
    width: 70%;
}

.basket-module {
    color: #111;
    padding-top: 30px;
}

label {
    display: block;
    margin-bottom: 0.3125rem;
}

.promo-code-field {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-transform: uppercase;
    transition: all 0.2s linear;
    width: 48%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.promo-code-field:hover,
.promo-code-field:focus {
    border: 1px solid #999;
}

.promo-code-cta {
    border-radius: 4px;
    font-size: 0.625rem;
    margin-left: 0.625rem;
    padding: 0.6875rem 1.25rem 0.625rem;
}

.basket-labels {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 1.625rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 60px;
}

li {
    color: #111;
    display: inline;
    padding: 0.625rem 0;
}

li.price:before,
li.subtotal:before {
    content: '';
}

.item {
    width: 55%;
}

.price,
.quantity,
.subtotal {
    width: 15%;
}

.subtotal {
    text-align: right;
}

.remove {
    bottom: 1.125rem;
    float: right;
    position: absolute;
    right: 0;
    text-align: right;
    width: 45%;
}

.remove button {
    background-color: rgb(71, 114, 112);
    color: white;
    float: none;
    text-decoration: underline;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
}

.item-heading {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.basket-product {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    position: relative;
}

.product-image {
    width: 35%;
}


.product-frame {
    border: 1px solid #aaa;
}

.product-details {
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.quantity-field {
    background-color: white;
    border: 1px solid rgb(71, 114, 112);
    border-radius: 4px;
    font-size: 0.625rem;
    padding: 2px;
    width: 3.75rem;
}

.basket-module label {
    display: block;
}

.basket h1 {
    font-size: 20px;
}

aside {
    float: right;

    width: 30%;
}

.summary {
    background-color: #bee3df9e;

    padding: 1rem;
    position: fixed;
    width: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.summary-total-items {
    color: black;
    font-size: 0.875rem;
    text-align: center;
}

.summary-subtotal,
.summary-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
    color: #111;
    float: left;
    width: 50%;
}

.summary-promo {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


.summary-delivery {
    padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
    text-align: right;
}

.total-title {
    font-weight: bold;
    text-transform: uppercase;
}

.summary-checkout {
    display: block;
    background: #86cfda;
}


.checkout-cta {
    display: block;
    float: none;
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625rem 0;
    width: 100%;
}

.summary-delivery-selection {
    background-color: white;
    border: 3px solid rgb(71, 114, 112);
    border-radius: 4px;
    display: block;
    font-size: 0.625rem;
    height: 34px;
    width: 100%;
}

.sidebar {
    border: 3px solid rgb(71, 114, 112);
    background-image: url("/media/reward/background/BG2.png");
    width: 30%;
    padding: 30px;
    margin-left: 20px;
}

.mb-4 {
    margin-top: 40px;
}

.card-link-secondary {
    color: rgb(71, 114, 112);
    font-style: italic;
    font-weight: bold;
}

.mask {
    text-align: center;
}

@media screen and (max-width: 900px) {
    aside,
    .basket,
    .summary,
    .item,
    .remove {
        width: 100%;
    }
ul{padding:0}
    div.next-nav {
        margin-top: 150px;
    }

    .basket-labels {
        display: none;
    }

    .next-nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        /* text-align:left; */
        justify-content: space-between;
    }

    .search-item {
        width: auto;
    }

    .navbar-link {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        justify-content: space-between;
        background-color: #477270
    }

    .basket-product {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-end;
        text-align: left;
        justify-content: space-between;

    }

    #basket-qty {
        position: absolute;
        top: 288px;
        right: 93px;
    }


    .basket-module {
        margin-bottom: 1rem;
    }

    .item {
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        justify-content: space-between;
    }

    .product-image {
        width: 40%;
    }

    .product-details {
        width: 60%;
    }

    .price,
    .subtotal {
        width: 15%;
    }

    .quantity {
        text-align: left;
        width: 15%;
    }

    .quantity-field {
        float: none;
    }

    .remove {
        bottom: 0;
        text-align: left;
        margin-top: 0.75rem;
        position: relative;
    }

    .remove button {
        padding: 0;
    }

    .summary {
        margin-top: 1.25rem;
        position: relative;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1400px) {
    aside {
        padding: 0 1rem 0 0;
    }

    .summary {
        width: 28%;
    }
}

@media screen and (max-width: 960px) {
    main {
        width: 100%;
    }

    .product-details {
        padding: 0 1rem;
    }
}


@media screen and (max-width: 525px) {
    div.next-nav {
        margin-top: 150px;
    }

    .next-nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        /* text-align:left; */
        justify-content: space-between;
    }

    #id_first_svg {
        display: none;
    }

    #basket-qty {
        position: relative;
        color:#477270;
        font-size:15pt;
        border:none;
        background: none;
        top: 0;
        right: 0;
    }

    .navbar-link {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        justify-content: space-between;
        background-color: #477270
    }

    .navbar-link a {

    }

    .navbar-link a:hover {


    }

    div.price.points.quantity {
        width: auto;
    }

    .item {
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        justify-content: space-between;
    }
}