{% extends "../store_base.html" %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            // MDB Lightbox Init
            $(function () {
                $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
            });
        });
    </script>

    <section class="mb-5">

        <div class="row">
            <div class="product-detail-img col-md-5 col-lg-5 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block w-75" width="200px" alt="images" src="{{ product.image.url }}" style="margin: 50px;">
            </div>
            <div class="col-md-6" style="
    padding: 20px 50px;>

                <h4 class="col-form-label-lg"><strong style="font-size: 20pt;">{{ product.title }}</strong></h4>

                <div class="table-responsive">
                    <table class="table table-sm table-borderless mb-0">
                        <tbody>
                        <tr>
                            <th class="pl-0 w-25 pt-3" scope="row"><h6><strong>Category</strong></h6></th>
                            <td class="pt-3"><h6>{{ product.category }}</h6></td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25 pt-3" scope="row"><h6><strong>Company</strong></h6></th>
                            <td class="pt-3"><h6>{{ product.producer }}</h6></td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25 pt-3" scope="row"><h6><strong>Feature</strong></h6></th>
                            <td class="pt-3"><h7>{{ product.feature }}</h7></td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25 pt-3" scope="row"><h6><strong>Description</strong></h6></th>
                            <td class="pt-3"><h7>{{ product.description|slice:"355" }}...</h7></td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25 pt-3" scope="row"><h6><strong>Green points</strong></h6></th>
                            <td class="pt-3"><h6>{{ product.greenpoint }}</h6></td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25 pt-3" scope="row"><h6><strong>Price</strong></h6></th>
                            <td class="pt-3"><h6>${{ product.price }}</h6></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="table-responsive mb-2">
                    <table class="table table-sm table-borderless">
                        <tbody>
                        <tr>
                            <td class="pl-0 pb-0 w-25"><h6><strong>Quantity</strong></h6></td>

                        </tr>
                        <tr>
                            <td class="pl-0">
                                <div class="col-10">
                                    <label for="select"></label>
                                    <select id="select" style="width: 50px;">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>

                <button type="button" class="add-to-cart-btn btn btn-block btn-outline-dark mr-1 mb-2" id="add-button"
                        value="{{ product.id }}"><i
                        class="add-to-cart fas fa-shopping-cart">Add to cart</i>
                </button>
            </div>
        </div>

    </section>
    <script>
        $(document).on('click', '#add-button', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "basket:basket_add" %}',
                data: {
                    productid: $('#add-button').val(),
                    productqty: $('#select option:selected').text(),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById("basket-qty").innerHTML = json.qty
                },
                error: function (xhr, errmsg, err) {
                }
            });
        })
    </script>



{% endblock %}

