* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: none;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    z-index: 1;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -400px;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 30px;
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.about {
    position: relative;
    padding: 0px 75px;
    width: 100%;
    height: 100vh;
    background: url(background/BG4.png);
    background-size: cover;
}

.about-title {
    width: 480px;
}

section h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.8em;
    margin: 0;
    padding-top: 160px;
    padding-left: 30px;
    color: #619174;
    word-wrap: normal;
    text-align:left;
    letter-spacing: 2px;
}

.about-info {
    width: 580px;
}
  
section p {
    font-size: 1.2em;
    margin: 0;
    padding-top: 20px;
    padding-left: 30px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: normal;
    text-align:left;
    line-height: 1.4em;
}

.about-button {
    width: 180px;
    margin: 20px 0 0 30px;
    padding: 20px 30px;
    background-color: #619174;
    border-top-left-radius: 25px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-button button {
    font-size: 1.2em;
    text-decoration: none;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #fff;
    padding: 40px 40px;
    width: 700px;
    max-width: 100%;
    border-radius: 20px;
    border: #619174 solid 2px;
}

.modal h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #619174;
}

#close_modal {
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    position: relative;
    left: 600px;
    bottom: 312px;
    font-size: 22px;
}