<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<style>
    body{
        display:flex;
        align-items:center;
        flex-direction:column;
        justify-content:center;
        font-size:18pt;
    }

</style>
<body>
    <h2>LP2T2X Team Members</h2>
    <ul><b>programmer</b>
        <li>Peihua Liu</li>
        <li>Tuo Yuan</li>
        <li>Hu xian</li>
        <li>Lu Chen</li>
    </ul>
    <ul><b>designer</b>
        <li>Xiaodan Liu</li>
        <li>Tianchang Sun</li>
    </ul>
</body>
</html>