{% extends "./store_base.html" %}
{% load static %}
{% block title %}Eco Rewards{% endblock %}

{% block content %}




<!--Section: Block Content-->
<section>

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mb-4">

            <!-- Card -->
            <div class="">

                <div class="view zoom overlay z-depth-2 rounded">

                    <h4 class="mb-0"><span class="badge badge-primary badge-pill badge-news">Green points: Sale</span></h4>
                    <a href="#!">
                        <div class="mask">
                            <img class="img-fluid w-75"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </a>
                </div>

                <div class="text-center pt-4">

                    <h5>Fantasy T-shirt</h5>
                    <p class="mb-2 text-muted text-uppercase small">Shirts</p>
                    <ul class="rating">
                        <li>
                            <i class="fas fa-star fa-sm text-primary"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-primary"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-primary"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-primary"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-primary"></i>
                        </li>
                    </ul>
                    <hr>
                    <h6 class="mb-3">
                        <span class="text-danger mr-1">$12.99</span>
                        <span class="text-grey"><s>$36.99</s></span>
                    </h6>
                    <button type="button" class="btn btn-primary btn-sm mr-1 mb-2"><i
                            class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
                    <button type="button" class="btn btn-light btn-sm mr-1 mb-2"><i
                            class="fas fa-info-circle pr-2"></i>Details</button>

                </div>

            </div>
            <!-- Card -->

        </div>

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-4">

            <!-- Card -->
            <div class="">

                <div class="view zoom overlay z-depth-2 rounded">

                    <h4 class="mb-0"><span class="badge badge-dark badge-pill badge-news">Sold out</span></h4>
                    <a href="#!">
                        <div class="mask">
                            <img class="img-fluid w-75"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </a>
                </div>

                <div class="text-center pt-4">

                    <h5>Fantasy T-shirt</h5>
                    <p class="mb-2 text-muted text-uppercase small">Shirts</p>
                    <ul class="rating">
                        <li>
                            <i class="fas fa-star fa-sm text-primary"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-primary"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-primary"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-primary"></i>
                        </li>
                        <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                        </li>
                    </ul>
                    <hr>
                    <h6 class="mb-3">12.99 $</h6>
                    <button type="button" class="btn btn-light btn-sm mr-1 mb-2"><i
                            class="fas fa-info-circle pr-2"></i>Details</button>

                </div>

            </div>
            <!-- Card -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-4">

            <!-- Card -->
            <div class="">

                <div class="view zoom overlay z-depth-2 rounded">

                    <h4 class="mb-0"><span class="badge badge-primary badge-pill badge-news">Green points: Sale</span></h4>
                    <a href="#!">
                        <div class="mask">
                            <img class="img-fluid w-75"
                                 src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </a>
                </div>

                <div class="text-center pt-4">

                    <h5>Fantasy T-shirt</h5>
                    <p class="mb-2 text-muted text-uppercase small">Shirts</p>
                    <ul class="rating">
                        <li>
                            <i class="fas fa-star fa-sm text-primary"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-primary"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-primary"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-primary"></i>
                        </li>
                        <li>
                            <i class="fas fa-star fa-sm text-primary"></i>
                        </li>
                    </ul>
                    <hr>
                    <h6 class="mb-3">
                        <span class="text-danger mr-1">$12.99</span>
                        <span class="text-grey"><s>$36.99</s></span>
                    </h6>
                    <button type="button" class="btn btn-primary btn-sm mr-1 mb-2"><i
                            class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
                    <button type="button" class="btn btn-light btn-sm mr-1 mb-2"><i
                            class="fas fa-info-circle pr-2"></i>Details</button>

                </div>

            </div>
            <!-- Card -->

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</section>

{% endblock %}