@font-face {
	/* font-family: wending;
	src: url("../font/SourceHanSansCN-Normal.ttf"); */
}

* {
	/* font-family: wending; */
	color: #4d4d4d;
}

body {
	margin: 0;
	background-color: #1a1a1f;
}

input,
textarea {
	padding: 0;
	margin: 0;
	background: none;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-weight: 500;
}

ul,
ol,
dl,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

button {
	padding: 0;
	margin: 0;
}
.box{
	margin: auto;
	margin-top: calc(50vh - 275px);
	width: 970px;
	height: 550px;
	background-color: #fff;
	background: url(/media/checkout/BG2.png) no-repeat;
	background-size: auto 100%;
}
.box>.user{
	width: 100%;
	height: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 60px;
}
.box>.user>img{
	height: 100%;
	margin-right: 24px;
}
.box>.user>div>p{
	color: #26433E;
	font-size: 25px;
	font-weight: 900;
	margin-bottom: 10px;
}
.box>.user>div>div>p{
	color: #26433E;
}
.box>.b{
	color: #0A6259;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	margin-top: 40px;
}
.box>.form{
	margin-top: 20px;
}
.box>.form>div{
	border: 1px solid #0A6259;
	border-radius: 30px;
	display: flex;
	height: 70px;
	width: 500px;
	align-items: center;
	box-sizing: border-box;
	padding: 20px;
	margin: auto;
}
.box>.form>div>span{
	font-size: 18px;
	margin-right: 20px;
}
.box>.form>div>input{
	width: 400px;
	border: none;
	background: none;
	font-size: 18px;
}
.box>button{
	display: block;
	width: 266px;
	height: 60px;
	border-radius: 30px;
	border: none;
	background-color: #0A6259;
	color: #fff;
	font-size: 26px;
	font-weight: 700;
	margin: auto;
	margin-top: 30px;
}