<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>
        <link rel="stylesheet" type="text/css" href="/static/page_reset.css" />
		<link rel="stylesheet" type="text/css" href="/static/checkout/finish_payment.css" />
	</head>
	<body>
		<main class="box">
        <img src="../../media/checkout/start4.png" alt="star">
		</main>
		<script>
			function tc(){
				document.querySelector('.tc').style.display='block';
			}
		</script>
	</body>
</html>
