<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>
        <link rel="stylesheet" type="text/css" href="/static/page_reset.css" />
		<link rel="stylesheet" type="text/css" href="/static/checkout/payment_method.css" />
	</head>
	<body>
		<main class="box">
			<p class="t" style="padding-top: 70px;">Swipe Debit/Credit Card or insert</p>
			<p class="t">Chip Now.</p>
			<p class="x">Or, select an option below.</p>
			<ul class="b">
				<li>
					<img src="/media/checkout/y1.png" alt=""/>
					<p>CARD</p>
				</li>
				<li>
                    <img src="/media/checkout/y2.png" alt=""/>
                    <form method="POST" action="{% url 'payment_method' %}"> {% csrf_token %}
                        <button>CASH</button>
                    </form>
				</li>
				<li>
					<img src="/media/checkout/y3.png" alt=""/>
					<p>OTHERS</p>
				</li>
				<li>
					<img src="/media/checkout/y4.png" alt=""/>
					<p>BACK</p>
				</li>
			</ul>
			<div class="tc">
				<div>
					<img src="/media/checkout/dui.png" alt=""/>
					<p>Payment Successfully !</p>
				</div>
			</div>
		</main>
		<script>
			function tc(){
				document.querySelector('.tc').style.display='block';
			}
		</script>
	</body>
</html>
