<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/checkout/shopping_cart.css"/>
</head>
<body>
<main class="box">
    <aside class="one">
        <figure class="user">
            <img src="/media/checkout/logo.png" alt="">
            <p>ECO REWARDS</p>
        </figure>
        <div class="title">
            <p>Scanning</p>
            <p>Items</p>
        </div>
        <label>
            <input type="text" class="barcode" placeholder="Enter item barcode">
        </label>
        <button name="submit" class="barcode" value="START">Add</button>
        {% if user.username %}
            <article class="welcome">
                <p id="username">{{ user.username }}</p>
                <p id="point">My point: {{ user.green_point }}</p>
            </article>
{#            <a href="{% url 'logout' %}">LOG OUT</a>#}
            <button id="id_logout" class="home_button" name="submit" value="HOME"
                    onclick="location.href = {% url "start_page" %}">LOGOUT</button>
        {% else %}
            <form action="{% url 'start_page' %}" method="POST" enctype=multipart/form-data> {% csrf_token %}
                {% for field in register_form %}
                    {{ field }}
                {% endfor %}
                <button name="submit" class="phone" value="START">START</button>
            </form>
            <button id="id_home" class="home_button" name="submit" value="HOME"
                    onclick="location.href = {% url "start_page" %}">BACK TO HOME</button>
        {% endif %}
    </aside>
    <div class="two">
        <div class="h">
            <p>Your Cart</p>
            <img src="/media/checkout/cart2.jpg">
        </div>
        <div class="c">
            <div class="kong">
                <img src="/media/checkout/y4.png">
                <p>Oops! Your Cart is empty</p>
            </div>
        </div>
        <div class="f">
            <div class="l">
                <p>Total:</p>
                <p>$ 70.00</p>
            </div>
            <div class="r">
                <button type="button"><span>FINISH</span></button>
            </div>
        </div>
    </div>
</main>
</body>
{#FIXME: this script does not work after brower finish loaded and rendering webpage#}
{#<script type="text/javascript">#}
{#    document.getElementById("id_logout").onclick = function () {#}
{#        location.href = {% url "start_page" %};#}
{#    }#}
{#    document.getElementById("id_home").onclick = function () {#}
{#        location.href = {% url "start_page" %};#}
{#    }#}
{#</script>#}
</html>
