<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/page_reset.css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/checkout/cart.css"/>
    <link rel="stylesheet" type="text/css" href="/static/checkout/shopping_cart.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {#    <script src="/static/js/cart.js" crossorigin="anonymous"></script>#}
</head>

<body>
<main class="box">
    <aside class="one">
        <figure class="user">
            <img src="/media/checkout/logo.png" alt="">
            <p>ECO REWARDS</p>
        </figure>
        <div class="title">
            <p>Scanning</p>
            <p>Items</p>
        </div>
        <label>
            <input type="text" id="id_barcode" class="barcode" placeholder="Enter item barcode">
        </label>
        <button id="id_add_button" name="submit" class="addButton" value="START">Add</button>
        {% if user.username %}
            <article class="welcome">
                <p id="username">{{ user.username }}</p>
                <p id="point">My point: {{ user.green_point }}</p>
            </article>
            <button id="id_logout" class="home_button" name="submit" value="HOME" onclick="location.href =
            {% url 'start_page' %}">LOG OUT
            </button>
        {% else %}
            <form action="{% url 'start_page' %}" method="POST" enctype=multipart/form-data> {% csrf_token %}
                {% for field in register_form %}
                    {{ field }}
                {% endfor %}
                <button name="submit" class="phone" value="START">START</button>
            </form>
            <button id="id_home" class="home_button" name="submit" value="HOME"
                    onclick="location.href = {% url "start_page" %}">BACK TO HOME
            </button>
        {% endif %}
    </aside>
    <div class="two">
        <div class="h">
            <p id="id_your_cart">Your Cart</p>
            <div class="cart_container">
                <img src="/media/checkout/cart2.jpg" alt="cart">
                <div class="top-right amount-sum"><em style="color: #03372A;">0</em></div>
            </div>
        </div>
        <div id="id_cart_list_element" class="c">
            <div class="kong" id="id_empty_container">
                {#                    <img src="/media/checkout/y4.png" alt=""/>#}
                {#                    <p>Oops! Your Cart is empty</p>#}
            </div>
        </div>
        <div class="bottom-finish-bar">
            <p id="id_total">Total:</p>
            <p id="id_total_price" class="price-sum"><em style="color: #fff;">Price: $ 0</em></p>
            <button id="id_finish" class="finish-button"><span
                    class="finish" type="button">CHECK OUT</span></button>
        </div>
        <
    </div>
</main>
</body>
<script>
    $(document).ready(function () {
        const id_empty_container = $("#id_empty_container")

        if (id_empty_container.children().length === 0) {
            let temp = ""
            temp += "<img id='id_cart_image' src='/media/checkout/y4.png' alt='art2'>";
            temp += " <p id='id_cart_empty' class='empty-cart'>Oops! Your Cart is empty</p>";
            id_empty_container.append(temp);
        }
        // go to purchase
        {#$('#id_cart_form').submit(function () {#}
        {#    let priceElement = document.getElementsByClassName('price')[0]#}
        {#    let elements = document.getElementById('id_item');#}
        {##}
        {#    // create an AJAX call#}
        {#    $.ajax({#}
        {#        data: response, // get the form data#}
        {#        type: $(this).attr('method'), // GET or POST#}
        {#        // on success#}
        {#        success: function (response) {#}
        {#            priceElement.jsonpxu;#}
        {#            priceElement.jsonpxu;#}
        {#        },#}
        {#        // on error#}
        {#        error: function (response) {#}
        {#            // alert the error if any error occured#}
        {#            alert(response.Product[0].errors);#}
        {#            console.log(response.Product[0].errors)#}
        {#        }#}
        {#    });#}
        {#    return false;#}
        {# });#}
        $(".addButton").click(function () {
            let barcode = $("#id_barcode").val();
            console.log(barcode);
            $.ajax({
                type: "GET",
                url: "{% url 'get_product' %}?barcode=" + barcode,
                cache: false,
                success: function (response) {
                    if ($("#id_item").length === 0) {
                        id_empty_container.hide();
                        console.log("inside start:id_item length", $("#id_item").length);
                        let temp = "<ul id='id_item' class='shopping-cart' <!-- 购物车商品 --> </ul>"
                        const id_item = $("#id_item")
                        $(".c").append(temp);
                    }
                    addItemToCart(response.product[0].name, response.product[0].barcode,
                        response.product[0].price, response.product[0].image,
                        response.product[0].is_eco, response.product[0].green_point);
                    console.log("inside end:id_item children length", $("#id_item").children().length);
                    getSum();
                    document.getElementById('id_barcode').value = ''; // clear input
                },
                error: function () {
                    alert("Please enter a valid barcode")
                }
            })
        });

        function addItemToCart(name, barcode, price, img, is_eco, green_point) {
            let cartRow = document.createElement("li");
            cartRow.setAttribute("id", "id_cart_item");
            cartRow.setAttribute("class", "cart-item");
            let cartItems = document.getElementsByClassName('shopping-cart')[0];
            // 相同商品数量+1
            let cartItemNames = cartItems.getElementsByClassName('p-barcode');
            for (let j = 0; j < cartItemNames.length; j++) {
                if (cartItemNames[j].innerText == barcode) {
                    let block = $(cartItemNames[j]).siblings(".p-num").children(".itxt");
                    let count = parseInt(block.val()) + 1;
                    block.val(count);
                    return;
                }
            }

            let startHTML = `
            <div class="p-img">
              <img src="/media/${img}" alt="" />
            </div>
            <div class="p-goods">
              <div class="p-msg">${name}</div>
                <div class="p-barcode" style="opacity: 0; height: 0; width: 0">${barcode}</div>
              <div class="p-num">
                <a href="javascript:;" class="decrement"><span>-</span></a>
                <input type="text" class="itxt" value="1" />
                <a href="javascript:;" class="increment"><span>+</span></a>
              </div>
            </div>
            <div id="id_item_price" class="price">$ ${price}</div>`

            let isEco = `
            <div class="eco-img">
                <img id="id_eco_image" src="/media/eco_logo_1.png" alt=""/>
            </div>`
            let notEco = `
            <div class="eco-img">
            </div>`
            {#let endHTML = `<div class="p-action"><a href="javascript:;"><span id="close">×<span></a></div></div>`;#}
            let endHTML = ""
{#            <button type="button" id='id_delete_button' class='btn btn-outline-secondary delete-button'>#}
{#                <i class='fa fa-close'></i>#}
{#            </button>#}

            if (is_eco == false) {
                cartRow.innerHTML = startHTML + notEco + endHTML
            } else {
                cartRow.innerHTML = startHTML + isEco + endHTML
            }
            cartItems.append(cartRow);
        }

        // plus+1数量
        $(document).on("click", ".increment", function () {
            let n = $(this).siblings(".itxt").val();
            n++;
            $(this).siblings(".itxt").val(n);
            getSum();
        });

        // minus-1数量
        // $(".decrement").click(function () {
        $(document).on("click", ".decrement", function () {
            let n = $(this).siblings(".itxt").val();
            if (n == 1) {
                return false;
            }
            // console.log(n);
            n--;
            $(this).siblings(".itxt").val(n);
            getSum();
        });

        // 直接修改数量
        $(document).on("change", ".itxt", function () {
            let n = $(this).val();
            getSum();
        })

        // 删除商品
        $(document).on("click", ".delete-button", function (event) {
            $(this).parents(".cart-item").fadeTo("fast", 0, function () {
                $(this).slideUp("fast", function () {
                    $(this).remove();
                    // empty cart or not
                    if ($("#id_item").children().length === 0) {
                        id_item.remove();
                        id_empty_container.show();
                    }
                    getSum();
                });
            });


        });

        // 总商品数（numTotal）和总价 （moneyTotal）
        function getSum() {
            let money = 0;
            let point = 0;
            let num = 0;
            let priceArray = [];
            let greenPointArray = [];
            let numArray = [];
            let moneyTotal = 0;
            let numTotal = 0;
            let pointTotal = 0;

            $(".price").each(function (i, ele) {
                money = parseFloat($(ele).text().substr(1));
                priceArray.push(money);
            });
            $(".green-point").each(function (i, ele) {
                point = parseInt($(ele).text().substr(1));
                greenPointArray.push(point);
            });

            $(".itxt").each(function (i, ele) {
                num = parseInt($(ele).val());
                numArray.push(num);
                numTotal += parseInt($(ele).val());
            });
            for (let i = 0; i < numArray.length; i++) {
                moneyTotal += numArray[i] * priceArray[i];
                pointTotal += numArray[i] * greenPointArray[i];
            }
            $(".amount-sum em").text(numTotal);
            $("#id_total_price em").text("Price: $ " + moneyTotal.toFixed(2));
            {#$("#id_total_points em").text("Points: " + pointTotal);#}
        }

        document.getElementById("id_finish").onclick = function () {
            console.log($(".cart-item").length);
            if ($(".cart-item").length == 0) {
                alert("Your cart is empty");
            } else {
                location.href = "{% url 'go_to_payment' %}"
            }
        };
    });
</script>
</html>