<!DOCTYPE html>
<html lang="en">
	<head>
        {% block head %}
            <meta charset="utf-8">
            <title></title>
            <link rel="stylesheet" type="text/css" href="../../static/css/two.css"/>
        {% endblock %}
	</head>
	<body>
		<div class="box">
			<div class="user">
				<img src="../../media/images/start5.png" >
				<div>
					<p>ECO REWARDS</p>
					<div>
						<p>IT`S TIME TO</p>
						<p>CHANGE THE WAY</p>
						<p>WE SHOP</p>
					</div>
				</div>
			</div>
			<p class="b">Enter your Eco-Accournt OR press Start</p>
			<div class="form">
				<div>
					<span>+61</span>
					<input type="text" placeholder="Please enter your phone number">
				</div>
			</div>
			<button>START</button>
		</div>
	</body>
</html>
