{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
        {% block head %}
            <meta charset="UTF-8">
            <title>Starting Page</title>
            <link rel="stylesheet" type="text/css" href="/static/checkout/start_page.css"/>
        {% endblock %}
	</head>
	<body>
		<div class="box">
			<div class="user">
				<img src="/media/checkout/logo.png" alt="logo">
				<div>
					<p>ECO REWARDS</p>
					<div>
						<p>IT`S TIME TO</p>
						<p>CHANGE THE WAY</p>
						<p>WE SHOP</p>
					</div>
				</div>
			</div>
			<p class="b">Enter your Eco-Accournt OR press Start</p>
            <form action="" method="POST" enctype= multipart/form-data> {% csrf_token %}
            {% for field in start_form %}
                {{ field }}
{#                {{ field.label_tag }}#}
            {% endfor %}
             <button type="submit" value="START">START</button>
            </form>
		</div>
	</body>
</html>
