<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/css/one.css"/>
	</head>
	<body>
		<div class="box">
			<div class="one">
				<div class="user">
					<img src="../../media/images/logo.png" >
					<p>ECO REWARDS</p>
				</div>
				<div class="title">
					<p>Scanning</p>
					<p>Items</p>
				</div>
				<div class="form">
					<div class="input">
						<input type="text" placeholder="Enter item barcode">
						<button>Add</button>
					</div>
					<div class="input">
						<input type="text" placeholder="Enter item barcode">
						<button>Login</button>
					</div>
				</div>
			</div>
			<div class="two">
				<div class="h">
					<p>Your Cart</p>
					<img src="../../media/images/cart1.jpg" >
				</div>
				<div class="c">
					<ul>
						<li>
							<div>
								<img src="../../media/images/one.jpg" >
								<div>
									<p>White sugar</p>
									<div class="form2">
										<button>-</button>
										<p>10</p>
										<button>+</button>
									</div>
								</div>
							</div>
							<div style="align-items: center;">$7.00<img src="../../media/images/Eco%20icon.png" width="30" style="margin-left: 10px;"></div>
						</li>
						<li>
							<div>
								<img src="../../media/images/two.jpg" >
								<div>
									<p>White sugar</p>
									<div class="form2">
										<button>-</button>
										<p>10</p>
										<button>+</button>
									</div>
								</div>
							</div>
							<div style="align-items: center;">$7.00<img src="../../media/images/Eco%20icon.png" width="30" style="margin-left: 10px;"></div>
						</li>
					</ul>
				</div>
				<div class="f">
					<div class="l">
						<p>Total:</p>
						<p>$ 70.00</p>
					</div>
					<div class="r">
						<button type="button">FINISH</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
